body {
margin:0;
background-color:#A09BE7;
  height: 100vh;
}

.title {
text-align: center;
font-family:sans-serif;
  color:white;
}

.titlebox {
}

.buttonBox {
display:flex;
justify-content: center;
}

h2 {
 font-family:sans-serif;
 color:#ao9be7;
 text-align:center
}

.aboutText{
text-align:center;
color:#ffffff;

}

.about{
 background-color:#1A1A55;
padding:20px;
}


.boxbox{
display:flex;
justify-content: center;
}


.new-letter {
  display: block;
}
#output {
 font-size:60px;
 color:#1A1A55;

}
.outputbox {
background-color:#FFFFFF;
  border: 3px solid #FFF2F1;
  border-radius:20px;
width: 100px;
height:100px;
display:flex;
justify-content:center;
align-items:center;

}
